body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1em;
}

.App-main {
  padding: 2em;
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.output{
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #a6aebe;
  box-shadow: 2px 5px 10px 2px lightgrey inset;
  padding: 1em;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
  justify-content: center;
}

.output2{
  text-align: center;
  border-radius: 10px;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
  justify-content: center;
}

img{
  max-width: 20vw;
  float:left;
}

hr{
  width: 100%;
  border: 2px solid black;
  background-color: black;
  margin-top: 2em;
}

.stack{
  display: inline-flex;
  flex-direction: column;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content:space-evenly;
}

.nav-link{
  padding-top:0 !important;
  padding-bottom:0 !important;
}

h2{
  width:fit-content;
  margin-bottom: 0;
  margin-top: 0;
}

.btn{
  margin-left: 1em;
}

.margintop{
  margin-top: 1em;
}

li {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

ul{
  padding-left:1em;
  padding-right:1em;
}

.stack{
  display: inline-flex;
  flex-direction: column;
}

.slide{
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
}

.btn{
  padding:0;
  line-height: 1em;
  padding: 0.2em;
  width: fit-content;
  height: fit-content;
  margin-left:0.3em;
  margin-right:0.3em;
}

em {
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding:0.3em;
  border: 1px solid black;
  background: white;
  line-height: 1em;
}

.small{
  width: 2em;
  padding:0;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.center{
  display:inline-flex;
  justify-content: center;
  text-align: center;
}

.top{
  display:inline-flex;
  text-align: center;
  align-items: flex-start;
}

.spread{
  display: inline-flex;
  justify-content: space-between;
  width: 20vw;
}

.fakeClick{
  color:var(--bs-link-color);
  text-decoration: underline;
  background-color: inherit;
  border: 0;
}