nav{
    height:4em;
}

.login-container{
    display:inline-grid;
    width: 30vw;
    margin-left:35%;
    margin-top:5%;
    height: fit-content;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 5px 5px 10px 5px grey inset;
}

form{
    margin:1em;
}

.btn-outline-dark{
    margin-top:0em;
    height: fit-content;
}

.small-link{
    display: inline-grid;
    text-align: left;
    font-size: small;
    align-content: center;
}

.oppose-ends{
    display: inline-flex;
    justify-content: space-between;
    width:100%;
    align-content: center;
}

.login-error{
    font-size: small;
    color:brown;
    background-color: rgba(255, 94, 0, 0.493);
    border: 1px solid red;
    border-radius: 8px;
    padding:0.5em;
}

.reset-success{
    font-size: small;
    color:rgba(0, 128, 0, 0.473);
    background-color: greenyellow;
    border: 1px solid green;
    border-radius: 8px;
    padding:0.5em;
}

#back{
    border:none;
    background-color: rgba(128, 128, 128, 0);
    margin: 0;
}

#resetPassword{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

h5{
    margin-top: 0;
    margin-bottom:0;
    font-weight: 500;
    font-size: 23px;
    margin-left:0.5em;
}