body{
    background-color:goldenrod;
    box-shadow: 20px 40px 80px 20px orangered inset;
    height: 100vh;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}